{% extends "course/base.html" %}

{% block content %}

<div class="index ebook">

{% include 'course/partials/hero.html' %}

<div class="container">
  <div class="main-content">
    <div class="row vrithm">
      <h1>Free eBook</h1>

      <p>Request the <strong>73 pages ebook</strong> I have created as the base of this course. It will provide you with great overview of the <strong>application designer job</strong> and you get the full picture of what you need to know and study to become professional in this field.</p>

      <p>Simply drop your email address below and I will personally email it to you.</p>

      <p>Quick Note: When you are here, you should also check out our online course and become Application Designer Professional. <a href="/#introduction-box">Click here to check our ultimate app. designer course.</a></p>

      <form action="/course/send_ebook/" method="post">
        {% csrf_token %}
        <div class="input-field wr">
          <input type="email" name="email" id="email" required>
          <label for="email">Your Email</label>
        </div>
        <div class="wr">
          <button class="primaryAction" type="submit">Please Send Me My Free eBook</button>
        </div>
      </form>

      <h2>Content you will receive</h2>
      <p>Please note that these images are low resolution, just to provide you a quick glance, you will receive PDF file with full resolution images.</p>

      <ul id="ebook-list" class="clearfix">
        <li><img src="{{ MEDIA_URL }}01.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}02.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}03.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}04.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}05.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}06.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}07.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}08.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}09.jpg"/></li>

        <li><img src="{{ MEDIA_URL }}10.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}11.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}12.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}13.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}14.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}15.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}16.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}17.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}18.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}19.jpg"/></li>

        <li><img src="{{ MEDIA_URL }}20.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}21.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}22.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}23.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}24.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}25.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}26.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}27.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}28.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}29.jpg"/></li>

        <li><img src="{{ MEDIA_URL }}30.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}31.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}32.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}33.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}34.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}35.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}36.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}37.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}38.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}39.jpg"/></li>

        <li><img src="{{ MEDIA_URL }}40.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}41.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}42.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}43.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}44.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}45.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}46.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}47.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}48.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}49.jpg"/></li>

        <li><img src="{{ MEDIA_URL }}50.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}51.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}52.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}53.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}54.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}55.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}56.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}57.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}58.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}59.jpg"/></li>

        <li><img src="{{ MEDIA_URL }}60.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}61.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}62.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}63.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}64.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}65.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}66.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}67.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}68.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}69.jpg"/></li>

        <li><img src="{{ MEDIA_URL }}70.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}71.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}72.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}73.jpg"/></li>
        <li><img src="{{ MEDIA_URL }}74.jpg"/></li>
      </ul>

    </div>
  </div>
</div>

{% include 'course/partials/footer.html' %}

</div>

{% endblock %}
