{% extends "course/base.html" %}

{% block content %}

<div class="plan stranger">

<div class="leaving">
  <span class="close-leaving"><i class="fas fa-times"></i></span>
  <img  class="me" src="/static/images/rl.jpg" alt="" />
  <h3>Quick qustion before you leave</h3>
  <h2>What do you think about these offers?</h2>


  <p>I really appreciate your answer. Thank you very much. 🙏 ❤️</p>
  <form action="/leaving/" method="post">
    {% csrf_token %}
    <ul>
      <li>
        <label>
          <input name="reason" type="radio" value="will come back" />
          <span>I like it, I will come back to get it</span>
        </label>
      </li>
      <li>
        <label>
          <input name="reason" type="radio" value="not for me"  />
          <span>Not for me</span>
        </label>
      </li>
      <li>
        <label>
          <input name="reason" type="radio" value="not the right time"/>
          <span>Not the right time</span>
        </label>
      </li>
      <li>
        <label>
          <input name="reason" type="radio" value="not the right price" />
          <span>Not the right price</span>
        </label>
      </li>
    </ul>
    <button type="submit">Send now</button>
  </form>
</div>

<div class="container">
  <div class="content payment-success">
    <i class="far fa-check-circle"></i>
    <h1>Congratulations <span class="name"></span>! The payment was successful.</h1>
    <a class="button" href="/start">Start Your Course</a>
  </div>
  <div class="main-content content">
    <div class="row vrithm">
      <h2>Application Design Academy - Choose a plan</h2>
      <p>Select a plan which suits you the most.</p>
    </div>
    <div class="row vrithm">
      <div class="col s12 m6 l6">
        <h2>Starter</h2>
        <p><strong><i class="fas fa-video"></i> 4 hours</strong> of video content, <strong><i class="fas fa-cloud-download-alt"></i> 17</strong> downloadable resources.</p>
        <ul class="plans_list">
            <li><i class="far fa-check-circle"></i>Introduction - 5 lessons</li>
            <li><i class="far fa-check-circle"></i>Design Basics - 13 lessons</li>
            <li><i class="far fa-check-circle"></i>Adobe Xd - 13 lessons</li>
            <li><i class="far fa-check-circle"></i>UI Elements - 15 lessons</li>
        </ul>
        <a class="button" href="/paypal_1/">Enroll for $299</a>
        <p>You will be able to upgrade to Premium, if you decide to do so.</p>
      </div>

      <div class="col s12 m6 l6">
        <h2>Premium</h2>
        <p><strong><i class="fas fa-video"></i> 11 hours</strong> of video content, <strong><i class="fas fa-cloud-download-alt"></i> 30</strong> downloadable resources.</p>
        <ul class="plans_list">
            <li><i class="far fa-check-circle"></i>Introduction - 5 lessons</li>
            <li><i class="far fa-check-circle"></i>Design Basics - 13 lessons</li>
            <li><i class="far fa-check-circle"></i>Adobe Xd - 13 lessons</li>
            <li><i class="far fa-check-circle"></i>UI Elements - 15 lessons</li>
            <li><i class="far fa-check-circle"></i>Wireframing - 4 lessons</li>
            <li><i class="far fa-check-circle"></i>Application Design - 3 lessons</li>
            <li><i class="far fa-check-circle"></i>Real-life Project - 7 lessons</li>
            <li><i class="far fa-check-circle"></i>Portfolio & Client - 2 lessons</li>
        </ul>
        <a class="button" href="/paypal_2/">Enroll for $1000</a>

        </div>
      </div>
    </div>
  </div>
</div>

{% include 'course/partials/footer.html' %}

</div>

{% endblock %}
